.best-offers {
  &__title {
    font-size: 35px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.01em;
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
    .best-offers {
        &__title {
            font-size: 29px;
        }
    }
}
