.catalog {

  &__products {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__container {
    display: flex;
    gap: 32px;

  }
}

@media(max-width: 767px) {
  .catalog {
    &__container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}