* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Jura', Arial, sans-serif;
    min-width: 375px;
    max-width: 1920px;
}

main {
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: 'Jura', Arial, sans-serif;
    width: 100%;
}

input {
    font-family: 'Jura', Arial, sans-serif;
}

.container {
    padding: 40px 160px;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0 20px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }


  @media (max-width: 1439px) {
    .container {
        padding: 54px 60px;
    }
  }

  
  @media (max-width: 767px) {
    .container {
        padding: 24px 20px;
    }
  }