.product-page {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 116px 0;
  }

  &__image {
    width: 413px;
    height: 413px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 536px;

    h2 {
      font-size: 40px;
      font-weight: 700;
      line-height: 40px;
    }

    h3 {
      font-weight: 600;
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 15px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
    background: #f4f4f4;
    border-radius: 10px;
    padding: 15px;
  }

  &__specs {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    position: relative;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    flex-wrap: wrap;
  }

  &__icon {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__icons-text-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #717171;
  }

  &__subtext {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
}

@media (max-width: 1439px) {
  .product-page {
    &__image {
      width: 264px;
      height: 330px;
    }

    &__info {
      max-width: 320px;
    }

   
  }
}

@media (max-width: 767px) {
  .product-page {
    &__container {
      flex-direction: column;
    }

    &__image {
      width: 264px;
      height: 330px;
    }

    &__info {
      max-width: unset;
      width: 100%;

      h2 {
        font-size: 22px;
      }

      h3 {
        font-size: 19px;
      }
    }

    &__actions {
      flex-direction: column;
      gap: 12px;
      align-items: center;
    }

   

    &__icons {
      gap: 10px;
    }
  }
}

@media (max-width: 525px) {
  .product-page {
    &__icon {
      flex-direction: column;
      text-align: center;
    }
  }
}
